/* src/components/Buttons.module.css */
.btn {
  background-color: #00aa63;
  /* Botón primario */
  color: #fff;
  border: none;
  padding: 0.6rem;

  font-size: .7rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #008f57;
}

.btn-secondary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.6rem;

  font-size: .7rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-secondary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.6rem;

  font-size: .7rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-danger:hover {
  background-color: #b02a37;
}