.pageContainer {
  
  background-color: #fff;
  margin:  0.1rem;
  padding: 2rem;
}
.header {
  margin-bottom: 2rem;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.listaMovs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movItem {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
}

.movActions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
