
.auth-container {
  display: flex;
  height: 100vh;
}

/* Lado izquierdo (blanco) */
.auth-left {
  width: 50%;
  margin-right: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lado derecho (verde) */
.auth-right {
  width: 50%;
  background: linear-gradient(135deg, #00a46e 0%, #00aa63 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}