/* Botones adicionales */
.obra-botones {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.btn-mediciones, .btn-op-aprobada {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.btn-mediciones {
  background-color: #0084ff; /* Azul */
}

.btn-op-aprobada {
  background-color: #ff8000; /* Naranja */
}

.btn-mediciones:hover {
  background-color: #0066cc;
}

.btn-op-aprobada:hover {
  background-color: #cc6600;
}
