.Sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 250px;
  background-color: #1e1e2f;
  color: white;
}

.Sidebar.expanded {
  width: 250px;
}

.Sidebar.collapsed {
  width: 60px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.with-sidebar {
  margin-left: 250px;
}
