/* src/pages/Home/Home.module.css */

/* Estructura principal */
.homeContainer {
  display: flex;
  height: calc(100vh - 60px); /* Ajusta si tu navbar mide 60px */
}

/* Sección Izquierda (blanca) */
.leftSide {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.textBox {
  max-width: 500px;
  text-align: left;
}

.title {
  font-size: 3rem;
 color: #00a46e;;
  margin: 0;
}

.subtitle {
  font-size: 1.4rem;
  color: #555;
  margin: 0.3rem 0 1.5rem 0;
}

.description {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.enterBtn {
  background-color: #00a46e;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.enterBtn:hover {
  background-color: #00a46e;
}

/* Sección Derecha (verde degrade o imagen) */
.rightSide {
  flex: 1;
  background: linear-gradient(135deg, #00a46e 0%, #00aa63 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.rightSide img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
