/* src/components/ModalMovimientoProveedor/ModalMovimientoProveedor.module.css */
.formBase {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  
  .partidasContainer {
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .actions {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
  