/* src/components/ModalNuevoProveedor/ModalNuevoProveedor.module.css */
.formBase {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .actions {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  